[Unit]
Description=The MTF compositor
After=xorg.target
Requires=dbus.socket xorg.target

[Service]
Type=notify
ExecStart=/usr/bin/mcompositor -systemd
Restart=always

[Install]
WantedBy=nemo-middleware.target
