#!/usr/bin/make -f

comma :=,
empty :=
space := $(empty) $(empty)
build_options := $(subst $(comma),$(space),$(DEB_BUILD_OPTIONS))
mcompositor_version = $(shell sed -ne 's/.*(//;s/).*//;p;q' debian/changelog)

parallel_build := $(patsubst parallel=%,-j%,$(filter parallel=%,$(build_options)))
ifneq ($(filter notestability,$(build_options)),)
	qmake_options += TESTABILITY=off
else
	qmake_options += TESTABILITY=on
endif

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-make clean
	dh_clean 

configure: configure-stamp
configure-stamp:
	dh_testdir
	qmake -r $(qmake_options)
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	make $(parallel_build)
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	INSTALL_ROOT=$(CURDIR)/debian/tmp make install

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp -v 
	dh_installdocs
	dh_strip --dbg-package=mcompositor-dbg
	dh_fixperms
	dh_makeshlibs -V 'mcompositor (= $(mcompositor_version))'
	dh_installdeb
	dh_shlibdeps -- --warnings=0
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
